/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.Container {
    max-width: 1400px;
    margin: auto;

}

header {
    background-color: rgba(245, 245, 245, 0.9);
    position:fixed;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    height: 60px; /* Ajusta según sea necesario */
}


header .logo {
    margin: 0;
    padding: 15px 30px;
    font-weight: bold;
    color: #5a189a;
    font-size: 30px;
}

header .Container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

header a:hover {
    color: #7b2cbf;
}

/* Sección Programa-detalle */
#Programa-detalle {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

#Programa-detalle .Container {
    max-width: 900px;
    margin: 0 auto;
}

#Programa-detalle h1 {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 15px;
}

#Programa-detalle p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
}

#Programa-detalle h2 {
    font-size: 2rem;
    color: #7b2cbf;
    margin-top: 30px;
}

#Programa-detalle ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#Programa-detalle ul li {
    font-size: 1.2rem;
    color: #444;
    background: #e3f2fd;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 8px;
}

#Programa-detalle button {
    background: #7b2cbf;
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#Programa-detalle button:hover {
    background: #5a189a;
}

/* Footer */
footer {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

/* Estilos específicos para pantallas grandes */
@media (min-width: 720px) {
    #Programa-detalle .Container {
        max-width: 1000px;
        padding: 50px;
    }

    #Programa-detalle h1 {
        font-size: 3rem;
    }

    #Programa-detalle h2 {
        font-size: 2.2rem;
    }

    #Programa-detalle p {
        font-size: 1.3rem;
    }

    #Programa-detalle ul li {
        font-size: 1.3rem;
        padding: 14px;
    }

    #Programa-detalle button {
        font-size: 1.4rem;
        padding: 14px 30px;
    }
}


